<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title mb-0">Technicial Manager Reports</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">

          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="basic-form-layouts">
        <div class="row match-height">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="form">
                    <div class="form-body">
                      <h4 class="form-section">
                        <i class="feather icon-user"></i>Technicial Manager Reports
                      </h4>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="dccbid"> SELECT DCCB NAME <span style="color: red">*</span></label>
                            <select id="dccbid" class="form-control" [(ngModel)]="dccbid">
                              <option disabled selected value="undefined">-- SELECT DCCB NAME --</option>
                              <option value="{{ obj.DCCB_CODE }}" *ngFor="let obj of DCCBLIST">
                                {{ obj.AFFILITED_DCCB_NAME }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="equipmentid"> SELECT DEVICE <span style="color: red">*</span></label> 
                                    <select id="equipmentid" class="form-control" [(ngModel)]="equipmentid">
                                      <option disabled selected value="undefined">-- SELECT DEVICE NAME --</option>
                                      <option value="{{ obj.DEVICE_ID }}" *ngFor="let obj of EQUIPMENTLIST">
                                          {{ obj.DEVICE_NAME }}
                                       </option>
                                     </select>
                                </div> 
                            </div> -->
                        <div class="col-md-3">
                          <div class="form-group" style="margin-top: 25px;">
                            <button type="submit" class="btn btn-primary" (click)="GetDetails()">GO</button>
                          </div>
                        </div>


                      </div>

                      <div class="row" *ngIf="TeckDetailsshow">
                        <!-- <div class="col-md-12"> -->
                        <!-- <button type="button" class="btn btn-sm btn-success pull-right" (click)="btnExcelDownload()">
                                    <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
                                    DOWNLOAD EXCEL
                                </button> -->
                        <!-- <button
                                type="button"
                                class="btn btn-sm btn-danger pull-right"
                                (click)="btnPDF()"
                              >
                                <i
                                  class="fa fa-file-pdf-o mr-2"
                                  aria-hidden="true"
                                ></i>
                                DOWNLOAD PDF
                              </button> -->
                        <!-- </div> -->
                        <div class="col-md-12 table-responsive" [hidden]="DEVICEDETAILSLIST.length < 1">
                          <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th>S.No</th>
                                <th>PACS NAME</th>
                                <th>CEO CERTIFICATE</th>
                                <th>GST TOTAL AMOUNT</th>

                                <th>
                                  <input type="checkbox" (change)="selectAll($event)" title="Select Check Box"
                                    [checked]="allSelected">
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let obj of DEVICEDETAILSLIST; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                  <a style="cursor: pointer; text-decoration: underline" class="text-primary"
                                    (click)="btnGetDetails(obj)"><b>{{ obj.PACS_NAME }}</b></a>
                                </td>
                                <!-- <td>{{ obj.CLIB_FILE_PATH }}</td>  -->

                                <td>


                                  <button type="button" *ngIf="obj.CLIB_FILE_PATH != null" class="btn btn-link btn-sm"
                                    (click)="btnPdfView(obj.CLIB_FILE_PATH)" style="font-size: 12px;">
                                    View
                                  </button>
                                  <span *ngIf="obj.CLIB_FILE_PATH == null">NA </span>
                                </td>

                                <!-- <td>{{ obj.RECEIVED_DATE }}</td> -->
                                <td>{{ obj.TOTAL_GST_AMOUNT }}</td>

                                <td>
                                  <input type="checkbox" [(ngModel)]="obj.selected" name="selected-{{ i }}"
                                    (change)="updateSubmitVisibility()">
                                </td>
                              </tr>
                            </tbody>

                          </table>
                          <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                              <h5>SELECTED COUNT : <span class="text-success">{{ selectedCount |
                                  number:'2.0-2':'en-IN'}} </span></h5>
                            </div>
                            <div class="col-md-3">
                              <h5>TOTAL AMOUNT :
                                <!-- <span class="text-success">₹ {{ totalSum  | number:'2.0-2':'en-IN'}} </span> -->
                                <span class="text-success">₹{{ formatIndianNumber(totalSum) }} </span>
                              </h5>
                            </div>
                            <div class="col-md-2"></div>
                          </div>

                        </div>
                        <div class="row col-md-12" *ngIf="isSubmitVisible">
                          <div class="col-md-5">
                            <!-- <label for="giftAndDeedPhotoUpload" class="float-right">PAYMENT REQUEST PDF FILE UPLOAD <span style="color: red">*</span>
                              </label> -->
                          </div>
                          <!-- <div class="col-md-3"> -->
                          <!-- <div class="form-group">
                                    
                                    <input type="file" class="form-control p-0" id="giftAndDeedPhotoUpload" (change)="onpdffileChange($event)"
                                      accept="pdf/*" autocomplete="off" />
                                  </div> -->
                          <!-- </div> -->
                          <!-- <div class="col-md-2"></div> -->
                          <div class="col-md-2">
                            <button type="button" class="btn btn-sm btn-danger pull-right"
                              (click)="btnReject()">REJECT</button>
                            <button type="submit" class="btn btn-sm btn-success pull-right"
                              (click)="btnSubmitView()">SUBMIT</button>

                          </div>

                          <div class="col-md-5"></div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- // Basic form layout section end -->
    </div>
  </div>
</div>

<div class="popup-modal" *ngIf="DeviceDetailsshow">
  <div class="popup-content" style="min-width: 75%">
    <div class="popup-header">
      <h4 class="title"> Device Details</h4>
      <a type="button" class="close" style="cursor: pointer">
        <span (click)="onClear()">×</span>
      </a>
    </div>

    <div class="popup-body" style="max-height:500px; overflow-y: auto;">
      <div class="row justify-content-center align-items-center">

        <div class="col-md-12 row">



          <div class="col-md-12 table-responsive" [hidden]="CalibrationDeviceList.length < 1">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>S.No</th>
                  <th>DEVICE NAME</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Basic Price</th>
                  <th>TAX INVOICE</th>
                  <th>DELIVERY CHALLAN</th>
                  <th>INSTALLATION REPORT</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of CalibrationDeviceList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td><b>{{ obj.DEVICE_NAME }}</b></td>
                  <td><b>{{ obj.MAKER }}</b></td>
                  <td><b>{{ obj.MODEL }}</b></td>
                  <!-- <td><b>{{ obj.BASICUNITPRICE }}</b></td>  -->
                  <td class="align-middle" *ngIf="shouldShowRowspan(i, 'BASICUNITPRICE')"
                    [attr.rowspan]="getRowspan(i, 'BASICUNITPRICE')"><b>{{ obj.BASICUNITPRICE }}</b></td>
                  <td>
                    <button type="button" *ngIf="obj.TAX_INVOICE != null" class="btn btn-link btn-sm"
                      (click)="btnPdfView(obj.TAX_INVOICE)" style="font-size: 12px;">
                      View
                    </button>
                    <span *ngIf="obj.TAX_INVOICE == null">NA </span>
                  </td>
                  <td>
                    <button type="button" *ngIf="obj.DELIVERY_CHALLAN != null" class="btn btn-link btn-sm"
                      (click)="btnPdfView(obj.DELIVERY_CHALLAN)" style="font-size: 12px;">
                      View
                    </button>
                    <span *ngIf="obj.DELIVERY_CHALLAN == null">NA </span>
                  </td>
                  <td>
                    <button type="button" *ngIf="obj.INSTALLATION_DOC != null" class="btn btn-link btn-sm"
                      (click)="btnPdfView(obj.INSTALLATION_DOC)" style="font-size: 12px;">
                      View
                    </button>
                    <span *ngIf="obj.INSTALLATION_DOC == null">NA </span>
                  </td>

                </tr>
              </tbody>

            </table>


          </div>

        </div>
        <br>


      </div>
    </div>
  </div>
</div>


<div class="popup-modal" *ngIf="ShowRejectPopup">
  <div class="popup-content" style="min-width: 75%">
    <div class="popup-header">
      <h4 class="title"> Technicial Manager Reject</h4>
      <a type="button" class="close" style="cursor: pointer">
        <span (click)="onClear1()">×</span>
      </a>
    </div>

    <div class="popup-body" style="max-height:500px; overflow-y: auto;">
      <div class="row justify-content-center align-items-center">

        <div class="col-md-12 row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label for="stockpoint">Remarks <span style="color: red">*</span></label>
            <textarea type="text" class="form-control" [(ngModel)]="Remarks"></textarea>
          </div>
        </div>
        <br>
        <div class="row">
        </div>
        <div class="popup-footer justify-content-center">
          <button type="button" class="btn btn-sm btn-success text-white" (click)="btnRejectSubmit()">
            SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-modal" *ngIf="ShowApprovePopup">
  <div class="popup-content" style="min-width: 75%">
    <div class="popup-header">
      <h4 class="title"> Technicial Manager Approve</h4>
      <a type="button" class="close" style="cursor: pointer">
        <span (click)="onClear2()">×</span>
      </a>
    </div>

    <div class="popup-body" style="max-height:500px; overflow-y: auto;">
      <div class="row justify-content-center align-items-center">

        <div class="row col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <fieldset class="form-group position-relative has-icon-left">
              <input id="userAadharNo" type="text" class="form-control" placeholder="Enter Aadhaar Number"  [disabled]="aadhardisable"
                NumbersOnly [allowDecimals]="false" [allowSign]="false"  [(ngModel)]="userAadharNo"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' data-maxlength="12"
                oninput="this.value=this.value.slice(0,this.dataset.maxlength)" 
                autocomplete="off" />
                <!-- [value]="userAadharNo" (input)="onInput($event)" (focus)="onFocus()" (blur)="onBlur()" -->               
              <!-- [disabled]="Eadharedit" -->
              <div class="form-control-position">
                <i class="feather icon-user"></i>
              </div>
            </fieldset>
          </div>

          <div class="col-md-6">
            <button type="button" class="btn btn-sm btn-success text-white" (click)="btnAadhar_Status()" [disabled]="sendotpdsiable">
              SEND OTP
            </button>
            <button type="button" class="btn btn-sm btn-info text-white" (click)="btnAadhar_Status()" *ngIf="resendotpshow1">
              RESEND OTP
            </button> 
              <span *ngIf="resendotpshow">{{ countdown }} sec</span> 
          </div>
          <!-- <div class="col-md-2"> 

          </div> -->

        </div>
        <div class="row col-md-12">
          <div class="col-md-3"></div>
          <div class="col-md-3 justify-content-center"   *ngIf="hideotp">
            <fieldset class="form-group position-relative has-icon-left">
              <input id="Aadharotp" type="text" class="form-control" placeholder="Enter OTP" NumbersOnly
                [allowDecimals]="false" [allowSign]="false"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' data-maxlength="6"
                oninput="this.value=this.value.slice(0,this.dataset.maxlength)" [(ngModel)]="Aadharotp"
                autocomplete="off" />
              <div class="form-control-position">
                <i class="feather icon-user"></i>
              </div>
            </fieldset>
          </div>

          <div class="col-md-2 justify-content-center"  *ngIf="hideotp">
            <button type="button" class="btn btn-sm btn-success text-white" (click)="btnVerifySubmit()">
              VERIFY OTP & SUBMIT
            </button>
          </div>
          <div class="col-md-3"></div>

        </div>
      </div>
    </div>
  </div>
</div>