 


<nav class="navbar navbar-expand-lg navbar-dark blue-green-gradient" style="background-image: linear-gradient(355deg, #503a3a, #d27070, #f0f315, #f0f320, #f0f323);">
  <!-- Navbar brand -->
  <!-- <a class="navbar-brand d-flex align-items-center" style="cursor: pointer">
    <img
      class="brand-logo"
      src="https://apddcf.ap.gov.in/cdn/img/ap-logo.png"
      style="width: 50px"
    />
    <h5 class="brand-text text-white mb-0 font-weight-normal ml-1">
      Andhra Pradesh Cooperation Departments
    </h5>
  </a> -->
  <a class="navbar-brand d-flex align-items-center">
    <img
      class="brand-logo"
      src="assets/img/cbn-pic.jpg"
      style="width: 100%"
    />
    
    <div class="text-center">
      <h6 class="brand-text text-danger mb-0 font-weight-normal ml-1">
        Sri N. Chandrababu Naidu
      </h6>
      <p class="text-danger" style="font-size: 12px; margin-bottom: 0">
        Hon’ble Chief Minister, <br />
        Andhra Pradesh
      </p>
      
        <!-- <h5 class="text-white">
           <br />
          Andhra Pradesh
        </h5> -->
       
    </div>
  </a>

   <li class="dropdown dropdown-user nav-item text-white" style="margin-left: 1106px !important;">
          <a
            class="
              dropdown-toggle
              nav-link
              dropdown-user-link
              custom-cursor text-white
            "
            data-toggle="dropdown"
          >
            <div class="avatar ">
              <img
                src="assets/images/ico/apple-icon-120.png"
                alt="avatar"
              /><i></i>
            </div>
            <span class="user-name menucolor " style="color: white;"  >{{userName}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="color: white;">
            <a class="dropdown-item custom-cursor"
              ><i class="feather icon-user"  class="menucolor"></i> Profile</a
            >
            <a
              class="dropdown-item custom-cursor"
              (click)="btnForgetPassword()"
            >
              <i class="feather icon-lock"  class="menucolor"></i> Forget Password</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item custom-cursor" (click)="btnLogout()"
              ><i class="feather icon-power"  class="menucolor"></i> Logout</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center custom-cursor">
              <span  class="menucolor"
                >Last logged in: <br />
                <b class="text-danger menucolor">{{ lastLoginTime }}</b></span
              >
            </a>
          </div>
        </li>
</nav>



<!-- class="menu-navbar navbar navbar-expand-lg   py-md-0"style="color: #1b1d1f;background-color:white; !important;text-align: right;"   -->
  
<nav
  class="menu-navbar navbar navbar-expand-lg py-md-0" style="color: #1b1d1f;background-color:white !important;"
>
  <a class="navbar-brand d-md-none d-block" style="cursor: pointer">MENU</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <span class="feather icon-menu menucolor"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul
      class="nav navbar-nav"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li class="dropdown nav-item" data-menu="dropdown">
        <a class="nav-link custom-cursor"
          ><i class="feather icon-home menucolor"></i
          ><span data-i18n="Dashboard" class="menucolor">Dashboard</span></a
        >
      </li> 
      
      <li class="dropdown nav-item"
      data-menu="dropdown"
      routerLinkActive="active">

      <a
      class="dropdown-toggle nav-link custom-cursor"
      data-toggle="dropdown"
      ><i class="feather icon-file-text"></i
      ><span data-i18n="Pages">REPORTS</span></a
    >
    <ul class="dropdown-menu">
      <li
        data-menu=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }" 
      >
      </li>
      <a class="dropdown-item custom-cursor" routerLink="DistrictWiseAbstractReport">PACS Computerization Abstract Report</a>        
      <a class="dropdown-item custom-cursor" routerLink="CalibrationPaymentsReport" *ngIf="Spmudiv">Calibration Payments Report</a>
      <a class="dropdown-item custom-cursor" routerLink="CalibrationStateLevelAbstractReport">Calibration State Level Abstract Report</a>
      <a class="dropdown-item custom-cursor" routerLink="CalibrationPacsTotalReport">Calibration PACS Total Report</a>
      <a class="dropdown-item custom-cursor" routerLink="PaymentsCalibReport">Payment Status Report</a>
      <a class="dropdown-item custom-cursor" routerLink="PacsRemarksReport">Pacs Wise Remarks Report</a>
    </ul>
      </li>   
    

       <li class="dropdown nav-item" data-menu="dropdown">
        <a class="nav-link custom-cursor" (click)="Apcob_Redirection()"
          ><i class="feather icon-home"></i
          ><span data-i18n="apcob">PACS Computerisation</span></a
        >
      </li>  

      
    </ul>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-right">
          <a
            class="navbar-brand d-flex align-items-center"
            style="cursor: pointer"
          >
            
          </a>
        </li>
  
  
  
  
  
       
  
  
      </ul>
    </div>
    <!-- Collapsible content -->
</nav>  
 


<body
class="horizontal-layout horizontal-menu 2-columns"
data-open="hover"
data-menu="horizontal-menu"
data-col="2-columns"
>
 

<router-outlet></router-outlet>

<footer class="footer footer-static footer-light navbar-shadow">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
    <span class="float-md-left d-block d-md-inline-block text-white"
      >Copyright &copy; 2021 All rights reserved.</span
    ><span class="float-md-right d-none d-lg-block text-white"
      >Andhra Pradesh Co-Operative Societies
      </span>
  </p>
</footer>
</body>




