<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12">
          <h3 class="content-header-title mb-0">Password Reset</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="custom-cursor" routerLink="/admin">Menu</a>
                </li>
                <li class="breadcrumb-item active">
                  <a
                    class="custom-cursor"
                    routerLink="/admin/Passwordreset"
                    >Password Reset</a
                  >
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <section id="basic-form-layouts">
          <div class="row match-height">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header"></div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="form">
                      <div class="form-body">
                        <h4 class="form-section">
                          <i class="feather icon-user"></i>Password Reset
                        </h4>
                         
                        <div class="form-group">
                         
                          <div
                          class="col-md-12 table-responsive"
                          [hidden]="userlist.length < 1"
                        >
                          <table
                            class="table table-bordered"
                            datatable
                            [dtOptions]="dtOptions"
                            [dtTrigger]="dtTrigger"
                          >
                            <thead class="thead-dark">
                               
                              <tr>
                                <th>S.No.</th>
                                <th>USER ID</th>
                                <th>USER NAME</th>
                                <th>DESIGNATION</th>
                                <th>FULL NAME</th>
                                <th>MOBILE NO</th>
                                <th>LAST LOGIN TIME</th>
                                <th>PASSWORD UPDATED STATUS</th>
                                <th>DISTRICT</th>
                                <th>PASSWORD RESET</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let obj of userlist; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ obj.UNIQUE_ID }}</td>
                                <td>{{ obj.USERNAME }}</td>
                                <td>{{ obj.DESIGNATION }}</td>
                                <td>{{ obj.NAME }}</td>
                                <td>{{ obj.MOBILE_NO }}</td>
                                <td>{{ obj.LAST_LOGIN_TIME }}</td>
                                <td>{{ obj.PASSWORD_UPD_STATUS }}</td>
                                <td>{{ obj.DISTRICT }}</td>
                                <td>
                                  <a
                                    *ngIf="obj.UNIQUE_ID !== 0"
                                    style="cursor: pointer; text-decoration: underline"
                                    class="text-primary"
                                    (click)="btnupdatepassword(obj)"
                                    ><b>RESET</b></a
                                  >
                                   
                                </td>
                              </tr>
                            </tbody>
                           
                          </table>
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Basic form layout section end -->
      </div>
    </div>
  </div>