<!--Navbar -->

<header>
  <nav class="navbar navbar-expand-lg navbar-dark" id="main-header">
      <a class="navbar-brand font-bold" href="#">
          <h1 class="logo mr-auto">
              <img src="assets/img/co-opration-logo1.png" class="title-img" alt="">
          </h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
              <li class="active"><a href="#home">Home</a></li>
              <li><a >About</a></li>
              <li><a routerLink="ApplicantRegistration">Services</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#">Downloads</a></li>
              <li><a href="#">Gallery</a></li>

              <li class="drop-down"><a data-menu="menu-navigation">Contact</a>
                  <!-- <ul class="dropdown-menu">
                        <li   data-menu="" routerLinkActive="active"
                         >
          
                        <a href="https://spandana.ap.gov.in" target="_blank">Jaganannaku Chebudam</a>
                      </li>
                      </ul> -->
              </li>





              <li>
                  <a class="font-weight-bold" routerLink="login">Login</a>



              </li>
          </ul>
      </div>
  </nav>

</header>
<!--/.Navbar -->
<!-- End Header -->

<!-- <div style="width: 100%;
height: auto;
overflow: hidden;
position: relative;
border: 0px solid #ccc; background: #fdcd01;
margin-top: 0px;">
<marquee class="text-danger" scrollamount="12"><b> Click on link <a href="https://swarnandhra.ap.gov.in/Suggestions" target="_blank"> https://swarnandhra.ap.gov.in/Suggestions </a> for submitting your suggestions/inputs on Swarna Andhra@2047 vision Plan </b></marquee>
</div> -->

<!-- ======= Hero Section ======= -->
<section id="hero">

  <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-12 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
              <img src="assets/img/co-opration-bgm-final.jpg" class="cooparation-banner" alt="">

              <!-- <div class="cm-profile">
            <h6 style="font-weight: 900;">
                శ్రీ.వై.ఎస్.జగన్ మోహన్ రెడ్డి గారు
            </h6>
            <p style="font-size: 11px;">గౌ.ముఖ్యమంత్రివర్యులు ఆంధ్రప్రదేశ్ ప్రభుత్వం</p>
        </div> -->

              <div class="">
                  <!-- <img src="assets/img/dispaly-data-op19.png" class="title-img1" alt="" > -->
                  <!-- <img src="assets/img/cm-pic4.png" class="cm-img" alt=""> -->
              </div>



              <div class="row">
                  <div class="col-md-12">

                  </div>

                  <div class="col-md-12">
                      <!-- <img src="assets/img/dispaly-data-op19.png" class="title-img1" alt=""> -->
                  </div>



                  <div class="col-md-12">
                      <img src="" class="img-fluid animated" alt="" style="width:100%;margin-top:414px;">
                  </div>
              </div>


          </div>
      </div>
  </div>
  <div class="ocean d-none d-sm-block">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
  </div>


</section>

<!-- End Hero -->


<section id="about" class="about section-bg">
  <div class="container-fluidd">
      <div class="section-title wow fadeInDown" data-wow-delay="80ms">
          <h2>Guidelines</h2>
          <h3>Guidelines <span>Co-operation</span></h3>
      </div>

      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-3 wow slideInLeft" data-wow-delay="100ms">
              <img src="assets/img/about-logo.jpg" style="background-color: white;" class="img-fluid" alt="" />
          </div>


          <div class="
          col-lg-4
          pt-4 pt-lg-0
          content
          d-flex
          flex-column
          justify-content-center footer-bgm
        ">
              <h6 class="wow slideInRight guidline-text" data-wow-delay="100ms" style="line-height: 30px">
                  <b>Procedure for Registration of a Cooperative Society under APCS Act 1964</b>
              </h6>
              <p class="wow slideInRight" data-wow-delay="150ms">
                  The following are the steps followed for registration of a Primary Society under the Andhra Pradesh Cooperative
                  Societies Act 7 of 1964.
              </p>
              <!-- <p class="wow slideInRight" data-wow-delay="300ms">
          In addition, based on the choice given by the Cheyutha beneficiaries,
          4.69 lakh women had opted for investing their money in the dairy
          sector. Under the project, these beneficiaries will be given livestock
          units of cows and buffaloes in three phases at a cost of Rs 6,551
          crore. Within 10 days of milk collection, the amount would be directly
          credited into the farmers’ accounts.
        </p> -->
          </div>

          <div class="col-lg-3 wow slideInLeft logo-left" data-wow-delay="100ms">
              <img src="assets/img/about-logoleft.png" style="background-color: white; width: 353px;height: 254px;" class="img-fluid "
                  alt="" />
          </div>
          <div class="col-lg-1"></div>
          <!-- <div
      class="
        col-lg-4
        pt-4 pt-lg-0
        content
        d-flex
        flex-column
        justify-content-center
      "
    >
    
      
    </div> -->


      </div>
  </div>
</section>

<section id="downloads" class="featured-services">
  <div class="container">
      <div class="section-title wow fadeInDown" data-wow-delay="80ms">
          <h2>Features</h2>

      </div>

      <div class="card">
          <div class="card-header text-center">
              <span>Downloads Alls</span>
          </div>
          <div class="card-body">
              <div class="flex flex-column mb-5 mt-4 faq-section">
                  <div class="row">
                      <div class="col-md-12">
                          <div id="accordion">
                              <div class="card">
                                  <div class="card-header" id="heading-1">
                                      <h5 class="mb-0">
                                          <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                                              aria-controls="collapse-1">
                                              Acts & Rules
                                          </a>
                                      </h5>
                                  </div>
                                  <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                                      <div class="card-body">

                                          <div class="row ">
                                              <div class="col-md-12">
                                                  <div class="table-responsive">
                                                      <table class="table table-bordered">
                                                          <thead class="bg-primary">
                                                              <tr>
                                                                  <th scope="col">S.No</th>
                                                                  <th scope="col">Title</th>
                                                                  <th scope="col">Action</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr>
                                                                  <th scope="row">1</th>
                                                                  <td>Andhra Pradesh Cooperative Societies Act 1964</td>
                                                                  <td><a href="assets/pdffiles/Acts/AndhraPradeshCooperative_Societies_ Act _1964.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">2</th>
                                                                  <td>Andhra Pradesh Reorganisation Act 6 of 2014</td>
                                                                  <td><a href="assets/pdffiles/Acts/The_Andhra_Pradesh_Reorganisation_Act_6_of_2014.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>
                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">3</th>
                                                                  <td>AP-protection-of-depositors-of-financial-establishments-act-1999 -
                                                                      TELUGU</td>
                                                                  <td><a href="assets/pdffiles/Acts/AP-protection-of-depositors-of-financial-establishments-act-1999-TELUGU.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">4</th>
                                                                  <td>Andhra Pradesh Mutually Aided Cooperative Societies Act 1995</td>
                                                                  <td><a href="assets/pdffiles/Acts/Andhra_Pradesh_Mutually_Aided_Cooperative_Societies_Act_1995.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">5</th>
                                                                  <td>Multi State Cooperative Societies Act 2002</td>
                                                                  <td><a href="assets/pdffiles/Acts/Multi_State_Cooperative_Societies_Act_2002.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">6</th>
                                                                  <td> The Banking Regulation Act 1949</td>
                                                                  <td><a href="assets/pdffiles/Acts/Banking_Regulation_Act_1949.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">7</th>
                                                                  <td>The RBI Act 1934</td>
                                                                  <td><a href="assets/pdffiles/Acts/RBI_Act_1934.pdf" target="_blank"
                                                                          style="text-decoration: underline;">View</a></td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">8</th>
                                                                  <td>Depositor Insurance and Credit Guaranteed Corporation Act 1961</td>
                                                                  <td><a href="assets/pdffiles/Acts/dicgc_act_1961.pdf" target="_blank"
                                                                          style="text-decoration: underline;">View</a></td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">9</th>
                                                                  <td>NABARD Handbook on MIS for PACS</td>
                                                                  <td><a href="assets/pdffiles/Acts/MIS_for_PACS_Annexures.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">10</th>
                                                                  <td>NABARD Manual for CAS for PACS</td>
                                                                  <td><a href="assets/pdffiles/Acts/Manual_on_CAS_for_PACS.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">11</th>
                                                                  <td>Andhra Pradesh Cooperative Societies Rules 1964</td>
                                                                  <td><a href="assets/pdffiles/Acts/Andhra_Pradesh_Cooperative_Societies_Rules_1964.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">12</th>
                                                                  <td>Bare Act Service Rules - Other Acts 1989</td>
                                                                  <td><a href="assets/pdffiles/Acts/Bare_Act_Service_Rules-Other_Acts1989.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">13</th>
                                                                  <td>Multi-State Cooperative Societies Rules 2002</td>
                                                                  <td><a href="assets/pdffiles/Acts/Multi-State_Cooperative_Societies_Rules_2002.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">14</th>
                                                                  <td>Audit Manual for PACSNABARD</td>
                                                                  <td><a href="assets/pdffiles/Acts/AuditManualforPACSNABARD.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>

                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="heading-2">
                                      <h5 class="mb-0">
                                          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2"
                                              aria-expanded="false" aria-controls="collapse-2">
                                              Forms
                                          </a>
                                      </h5>
                                  </div>
                                  <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                                      <div class="card-body">
                                          <div class="row ">
                                              <div class="col-md-12">
                                                  <div class="table-responsive">
                                                      <table class="table table-bordered">
                                                          <thead class="bg-primary">
                                                              <tr>
                                                                  <th scope="col">S.No</th>
                                                                  <th scope="col">Title</th>
                                                                  <th scope="col">Action</th>

                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr>
                                                                  <th scope="row">1</th>
                                                                  <td>Form - A</td>
                                                                  <td><a href="assets/pdffiles/Forms/Form-A.pdf" target="_blank"
                                                                          style="text-decoration: underline;">View</a></td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">2</th>
                                                                  <td>Sworn Statement by Applicant</td>
                                                                  <td><a href="assets/pdffiles/Forms/Sworn_Statement_by_Applicant.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">3</th>
                                                                  <td>Masooda Form</td>
                                                                  <td><a href="assets/pdffiles/Forms/MASOODA_FORM.pdf" target="_blank"
                                                                          style="text-decoration: underline;">View</a></td>

                                                              </tr>

                                                              <tr>
                                                                  <th scope="row">4</th>
                                                                  <td>National level Form 1</td>
                                                                  <td><a href="assets/pdffiles/Forms/National_level_Form1.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>

                                                              <tr>
                                                                  <th scope="row">5</th>
                                                                  <td>National leve Form 2</td>
                                                                  <td><a href="assets/pdffiles/Forms/National_leve_Form2.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>

                                                              <tr>
                                                                  <th scope="row">6</th>
                                                                  <td>National level Form 3</td>
                                                                  <td><a href="assets/pdffiles/Forms/National_level_Form3.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">7</th>
                                                                  <td>National level Form 4</td>
                                                                  <td><a href="assets/pdffiles/Forms/National_level_Form4.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">8</th>
                                                                  <td>National level Form 5</td>
                                                                  <td><a href="assets/pdffiles/Forms/National_level_Form5.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>


                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="heading-2">
                                      <h5 class="mb-0">
                                          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4"
                                              aria-expanded="false" aria-controls="collapse-2">
                                              Model Bye-Laws
                                          </a>
                                      </h5>
                                  </div>
                                  <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                                      <div class="card-body">
                                          <div class="row ">
                                              <div class="col-md-12">
                                                  <div class="table-responsive">
                                                      <table class="table table-bordered">
                                                          <thead class="bg-primary">
                                                              <tr>
                                                                  <th scope="col">S.No</th>
                                                                  <th scope="col">Title</th>
                                                                  <th scope="col">Action</th>

                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr>
                                                                  <th scope="row">1</th>
                                                                  <td>Coop UrbanBank</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/Coop_UrbanBank.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">2</th>
                                                                  <td>Fisheries Coop</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/Fisheries_Coop.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>

                                                              <tr>
                                                                  <th scope="row">3</th>
                                                                  <td>Gorrela Pempakam</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/Gorrela_Pempakam.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">4</th>
                                                                  <td>House Building Societie</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/House_Building_Societie.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">5</th>
                                                                  <td>Milk Producers </td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/Milk_Producers.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">6</th>
                                                                  <td>ModelByLaws-transport society </td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/ModelByLaws-transportsociety.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">7</th>
                                                                  <td>National level</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/National_level.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">8</th>
                                                                  <td>WasherMan</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/WasherMan.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">9</th>
                                                                  <td>Weaver Cooperative Societies</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/Weaver_Cooperative_Societies.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">10</th>
                                                                  <td>LCCS</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/LCCS.pdf" target="_blank"
                                                                          style="text-decoration: underline;">View</a></td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">11</th>
                                                                  <td>MACTS</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/MACTS.pdf" target="_blank"
                                                                          style="text-decoration: underline;">View</a></td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">12</th>
                                                                  <td>ECCS-1964 act</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/ECCS-1964act.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">13</th>
                                                                  <td>PACS 1964 Act</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/PACS1964Act.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>
                                                              <tr>
                                                                  <th scope="row">14</th>
                                                                  <td> Multi Purpose MACS</td>
                                                                  <td><a href="assets/pdffiles/Model_Bye-Laws/MultiPurpose.pdf"
                                                                          target="_blank" style="text-decoration: underline;">View</a>
                                                                  </td>

                                                              </tr>



                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="heading-2">
                                      <h5 class="mb-0">
                                          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                                              aria-expanded="false" aria-controls="collapse-2">
                                              Related Links
                                          </a>
                                      </h5>
                                  </div>
                                  <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                                      <div class="card-body">
                                          <div class="row ">
                                              <div class="col-md-12">
                                                  <div class="table-responsive">
                                                      <table id="profile_tab" class="table table-bordered">
                                                          <thead class="bg-primary">
                                                              <tr>
                                                                  <th>
                                                                      Organization
                                                                  </th>
                                                                  <th>
                                                                      Web Site(URL)
                                                                  </th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>

                                                              <tr>
                                                                  <td style="text-align: center;">Reserve Bank of India </td>

                                                                  <td style="text-align: center;"> <a href="http://www.rbi.org.in/"
                                                                          target="blank"> http://www.rbi.org.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">NABARD </td>

                                                                  <td style="text-align: center;"> <a
                                                                          href="http://www.nabard.org/english/home.aspx" target="blank">
                                                                          http://www.nabard.org/english/home.aspx </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">NAFSCOB </td>

                                                                  <td style="text-align: center;"> <a href="http://nafscob.org/"
                                                                          target="blank"> http://nafscob.org/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">IFFCO </td>

                                                                  <td style="text-align: center;"> <a href="http://www.iffco.in/"
                                                                          target="blank"> http://www.iffco.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">KRIBHCO </td>

                                                                  <td style="text-align: center;"> <a href="http://www.kribhco.net"
                                                                          target="blank"> http://www.kribhco.net </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">APCOB </td>

                                                                  <td style="text-align: center;"> <a href="http://www.apcob.org/"
                                                                          target="blank"> http://www.apcob.org/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">APMARKFED </td>

                                                                  <td style="text-align: center;"> <a href="http://www.apmarkfed.in/"
                                                                          target="blank"> http://www.apmarkfed.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">NCDC. </td>

                                                                  <td style="text-align: center;"> <a href="http://www.ncdc.in/"
                                                                          target="blank"> http://www.ncdc.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">E - Agriculture </td>

                                                                  <td style="text-align: center;"> <a href="http://www.apagrisnet.gov.in/"
                                                                          target="blank"> http://www.apagrisnet.gov.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">AP AGROS </td>

                                                                  <td style="text-align: center;"> <a href="http://apagros.org/"
                                                                          target="blank"> http://apagros.org/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">SUPREME COURT OF INDIA </td>

                                                                  <td style="text-align: center;"> <a
                                                                          href="http://supremecourtofindia.nic.in/" target="blank">
                                                                          http://supremecourtofindia.nic.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">AP HIGH COURT </td>

                                                                  <td style="text-align: center;"> <a href="http://hc.ap.nic.in/"
                                                                          target="blank"> http://hc.ap.nic.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">AP ADMINISTRATIVE TRIBUNAL </td>

                                                                  <td style="text-align: center;"> <a href="http://www.apat.ap.gov.in/"
                                                                          target="blank"> http://www.apat.ap.gov.in/ </a></td>

                                                              </tr>

                                                              <tr>
                                                                  <td style="text-align: center;">GOI Farmer Portal </td>

                                                                  <td style="text-align: center;"> <a href="http://www.farmer.gov.in/"
                                                                          target="blank"> http://www.farmer.gov.in/ </a></td>

                                                              </tr>
                                                          </tbody>
                                                      </table>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>



  </div>
</section>

<!-- <section
class="gallery-section px-0 section-bg"
id="gallery"
>
<div class="container aos-init aos-animate" data-aos="fade-up">
  <div class="section-title wow fadeInDown" data-wow-delay="80ms">
    <h2>Gallery</h2>
     
  </div>
  <div class="col-md-12">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        
         
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/image1.jpeg" alt="Los Angeles" width="100%" height="300px">
           
        </div>
        <div class="carousel-item">
          <img src="./assets/img/image4.jpeg" alt="Chicago" width="100%" height="300px">
           
        </div>
        <div class="carousel-item">
          <img src="./assets/img/image5.jpeg" alt="New York" width="100%" height="400">
            
        </div>
        <div class="carousel-item">
          <img src="./assets/img/image6.jpeg" alt="New York" width="100%" height="400">
            
        </div>
        <div class="carousel-item">
          <img src="./assets/img/RCSMeeting.jpeg" alt="New York" width="100%" height="400">
            
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    
</div>
 
</div>
</section> -->

<section class="gallery-section px-0 section-bg" id="gallery">
  <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="section-title wow fadeInDown" data-wow-delay="80ms">
          <h2>DISCLAIMER</h2>

      </div>
      <div class="Disclamer" style="background: lightskyblue;
  padding: 5px 0px 0px 5px;
  color: black;
  border-radius: 5px;">
          <p>
              Every effort has been made to ensure accuracy of data on this web site.
              However there need to be verified by and supplemented with documents issued finally by the concerned authorities.
              Co-Operation Department, Government of Andhra Pradesh, Guntur will not be responsible for any decision or claim that is
              based on the basis of displayed data.
          </p>











      </div>
  </div>
</section>




<section id="footer" class="footer-bgm footer-bgm1">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3 class="apcop-left">Cooperation Department</h3>
          </div>
          <div class="col-md-4" style="text-align:center;">
              <img src="assets/img/ap-logo-footer.png" class="footer-logo">


          </div>
          <div class="col-md-4">
              <h3 class="apcop-right">Andhra Pradesh</h3>
          </div>

      </div>
  </div>
</section>



<div class="popup-modal" *ngIf="showeditPopup" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000"
  data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
  <div class="popup-content">
      <div class="popup-header">
          <h4 class="title"> </h4>
          <a type="button" class="close" style="cursor: pointer">
              <span (click)="onClear()">×</span>
          </a>
      </div>

      <div class="popup-body">
          <div class="row justify-content-center align-items-center">


              <img src="assets/img/showmodel.jpg" class="img-fluid" style="height: 500px; width: 600;" />
          </div>



      </div>
  </div>
</div>


<a href="#" id="scroll" style="display: none;"><span></span></a>