<body
  class="horizontal-layout horizontal-menu 2-columns"
  data-open="hover"
  data-menu="horizontal-menu"
  data-col="2-columns"
>
  <nav
    class="
      header-navbar
      p-0
      navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-dark
      bg-gradient-x-grey-blue
      navbar-border navbar-brand-center
    "
  >
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto">
            <a
              class="nav-link nav-menu-main menu-toggle hidden-xs custom-cursor"
              ><i class="feather icon-menu font-large-1"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand custom-cursor"
              ><img
                class="brand-logo"
                alt="AP Co-Operative Societies logo"
                src="assets/images/logo/logo.png"
                height="50px"
            /></a>
          </li>
          <li class="nav-item d-md-none">
            <a
              class="nav-link open-navbar-container"
              data-toggle="collapse"
              data-target="#navbar-mobile"
              ><i class="fa fa-ellipsis-v"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="navbar-container content">
        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block">
              <!-- <a class="nav-link nav-menu-main menu-toggle p-0 custom-cursor"
                ><img
                  class="brand-logo"
                  alt="AP Co-Operative Societies logo"
                  src="assets/images/logo/ap-cm.png"
                  height="50px"
              /></a> -->
            </li>
          </ul>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-user nav-item">
              <a
                class="
                  dropdown-toggle
                  nav-link
                  dropdown-user-link
                  custom-cursor
                "
                data-toggle="dropdown"
              >
                <div class="avatar">
                  <img
                    src="assets/images/ico/apple-icon-120.png"
                    alt="avatar"
                  /><i></i>
                </div>
                <span class="user-name">{{ userName }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item custom-cursor" (click)="btnLogout()"
                  ><i class="feather icon-power"></i> Logout</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center custom-cursor">
                  <span class="mb-1">Last logged in: <br /></span>
                  <b class="text-danger pt-3">{{ lastLoginTime }}</b>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div
    *ngIf="isPasswordUpdate === '1'"
    class="
      header-navbar
      p-0
      navbar-expand-sm
      navbar
      navbar-horizontal
      navbar-fixed
      navbar-light
      navbar-without-dd-arrow
      navbar-shadow
      menu-border
    "
    role="navigation"
    data-menu="menu-wrapper"
  >
    <div class="navbar-container main-menu-content" data-menu="menu-container">
      <ul
        class="nav navbar-nav"
        id="main-menu-navigation"
        data-menu="menu-navigation"
      >
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="nav-link custom-cursor" (click)="btnBack()"
            ><i class="feather icon-home"></i
            ><span data-i18n="Dashboard">Home</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header p-2">
                  <h5 class="mb-0">Password Update</h5>
                </div>
                <div class="card-body px-md-5">
                  <div class="px-md-3">
                    <div class="form-group">
                      <label
                        >Old Password<sup class="text-danger h6">*</sup></label
                      >
                      <input
                        type="password"
                        class="form-control"
                        [(ngModel)]="userdata.oldPassword"
                        autocomplete="off"
                        id="oldPassword"
                        maxlength="30"
                      />
                    </div>
                    <div class="form-group">
                      <label
                        >New Password<sup class="text-danger h6">*</sup></label
                      >
                      <input
                        type="password"
                        class="form-control"
                        [(ngModel)]="userdata.newPassword"
                        autocomplete="off"
                        id="newPassword"
                        maxlength="15"
                      />
                    </div>
                    <div class="form-group">
                      <label
                        >Confirm Password<sup class="text-danger h6"
                          >*</sup
                        ></label
                      >
                      <input
                        type="password"
                        class="form-control"
                        [(ngModel)]="userdata.confirmPassword"
                        autocomplete="off"
                        id="confirmPassword"
                        maxlength="15"
                      />
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    <button class="btn btn-primary" (click)="btnSubmit()">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer footer-static footer-light navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-block d-md-inline-block"
        >Copyright &copy; 2021 All rights reserved.</span
      ><span class="float-md-right d-none d-lg-block"
        >Andhra Pradesh Co-Operative Societies
        <i class="feather icon-heart pink"></i
      ></span>
    </p>
  </footer>
</body>
