<body class="horizontal-layout horizontal-menu 2-columns" data-open="hover" data-menu="horizontal-menu"
  data-col="2-columns">
  <nav class="
      header-navbar
      p-0
      navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-dark
      bg-gradient-x-grey-blue
      navbar-border navbar-brand-center
    " style="background-image: linear-gradient(355deg, #503a3a, #d27070, #f0f315, #f0f320, #f0f323);">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto">
            <a class="nav-link nav-menu-main menu-toggle hidden-xs custom-cursor"><i
                class="feather icon-menu font-large-1"></i></a>
          </li>
          <li class="nav-item">
            <!-- <a class="navbar-brand custom-cursor"><img class="brand-logo" alt="AP Co-Operative Societies logo"
                src="assets/images/logo/logo.png" height="50px" /></a> -->
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
                class="fa fa-ellipsis-v"></i></a>
          </li>
        </ul>
      </div>
      <div class="navbar-container content">
        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block">
              <!-- <a class="nav-link nav-menu-main menu-toggle p-0 custom-cursor"><img class="brand-logo"
                  alt="AP Co-Operative Societies logo" src="assets/images/logo/ap-cm.png" height="50px" /></a> -->
                  <!-- <a class="navbar-brand custom-cursor"><img class="brand-logo" alt="AP Co-Operative Societies logo"
                    src="assets/images/logo/logo.png" height="50px" /></a> -->
                    <a class="navbar-brand d-flex align-items-center">
                      <img
                        class="brand-logo"
                        src="assets/img/cbn-pic.jpg"
                        style="width: 100%"
                      />
                      
                      <div class="text-center">
                        <h6 class="brand-text text-danger mb-0 font-weight-normal ml-1">
                          Sri N. Chandrababu Naidu
                        </h6>
                        <p class="text-danger" style="font-size: 12px; margin-bottom: 0">
                          Hon’ble Chief Minister, <br />
                          Andhra Pradesh
                        </p>
                        
                          <!-- <h5 class="text-white">
                             <br />
                            Andhra Pradesh
                          </h5> -->
                         
                      </div>
                    </a>
            </li>
          </ul>
          <ul class="nav navbar-nav float-right">

            <!-- <li class="dropdown dropdown-notification nav-item">
              <a
                class="nav-link nav-link-label custom-cursor"
                data-toggle="dropdown"
                ><i class="ficon feather icon-bell"></i
                ><span class="badge badge-pill badge-danger badge-up"
                  >5</span
                ></a
              >
              <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                <li class="dropdown-menu-header">
                  <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Notifications</span
                    ><span
                      class="
                        notification-tag
                        badge badge-danger
                        float-right
                        m-0
                      "
                      >5 New</span
                    >
                  </h6>
                </li>
                <li class="scrollable-container media-list">
                  <a href="javascript:void(0)">
                    <div class="media">
                      <div class="media-left align-self-center">
                        <i
                          class="
                            feather
                            icon-plus-square icon-bg-circle
                            bg-cyan
                          "
                        ></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">You have new order!</h6>
                        <p class="notification-text font-small-3 text-muted">
                          Lorem ipsum dolor sit amet, consectetuer elit.
                        </p>
                        <small>
                          <time
                            class="media-meta text-muted"
                            datetime="2015-06-11T18:29:20+08:00"
                            >30 minutes ago</time
                          ></small
                        >
                      </div>
                    </div>
                  </a>
                  <a href="javascript:void(0)">
                    <div class="media">
                      <div class="media-left align-self-center">
                        <i
                          class="
                            feather
                            icon-download-cloud icon-bg-circle
                            bg-red bg-darken-1
                          "
                        ></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading red darken-1">
                          99% Server load
                        </h6>
                        <p class="notification-text font-small-3 text-muted">
                          Aliquam tincidunt mauris eu risus.
                        </p>
                        <small>
                          <time
                            class="media-meta text-muted"
                            datetime="2015-06-11T18:29:20+08:00"
                            >Five hour ago</time
                          ></small
                        >
                      </div>
                    </div>
                  </a>
                  <a href="javascript:void(0)">
                    <div class="media">
                      <div class="media-left align-self-center">
                        <i
                          class="
                            feather
                            icon-alert-triangle icon-bg-circle
                            bg-yellow bg-darken-3
                          "
                        ></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading yellow darken-3">
                          Warning notifixation
                        </h6>
                        <p class="notification-text font-small-3 text-muted">
                          Vestibulum auctor dapibus neque.
                        </p>
                        <small>
                          <time
                            class="media-meta text-muted"
                            datetime="2015-06-11T18:29:20+08:00"
                            >Today</time
                          ></small
                        >
                      </div>
                    </div>
                  </a>
                  <a href="javascript:void(0)">
                    <div class="media">
                      <div class="media-left align-self-center">
                        <i
                          class="
                            feather
                            icon-check-circle icon-bg-circle
                            bg-cyan
                          "
                        ></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Complete the task</h6>
                        <small>
                          <time
                            class="media-meta text-muted"
                            datetime="2015-06-11T18:29:20+08:00"
                            >Last week</time
                          ></small
                        >
                      </div>
                    </div>
                  </a>
                  <a href="javascript:void(0)">
                    <div class="media">
                      <div class="media-left align-self-center">
                        <i class="feather icon-file icon-bg-circle bg-teal"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Generate monthly report</h6>
                        <small>
                          <time
                            class="media-meta text-muted"
                            datetime="2015-06-11T18:29:20+08:00"
                            >Last month</time
                          ></small
                        >
                      </div>
                    </div>
                  </a>
                </li>
                <li class="dropdown-menu-footer">
                  <a
                    class="dropdown-item text-muted text-center"
                    href="javascript:void(0)"
                    >Read all notifications</a
                  >
                </li>
              </ul>
            </li> -->

            <li class="dropdown dropdown-user nav-item">
              <a class="
                  dropdown-toggle
                  nav-link
                  dropdown-user-link
                  custom-cursor
                " data-toggle="dropdown">
                <div class="avatar">
                  <img src="assets/images/ico/apple-icon-120.png" alt="avatar" /><i></i>
                </div>
                <span class="user-name">{{userName}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item custom-cursor"><i class="feather icon-user"></i> Profile</a>
                <a class="dropdown-item custom-cursor" (click)="btnForgetPassword()">
                  <i class="feather icon-lock"></i> Forget Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item custom-cursor" (click)="btnLogout()"><i class="feather icon-power"></i>
                  Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center custom-cursor">
                  <span>Last logged in: <br />
                    <b class="text-danger">{{ lastLoginTime }}</b></span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="
      header-navbar
      p-0
      navbar-expand-sm
      navbar
      navbar-horizontal
      navbar-fixed
      navbar-light
      navbar-without-dd-arrow
      navbar-shadow
      menu-border
    " role="navigation" data-menu="menu-wrapper">
    <div class="navbar-container main-menu-content" data-menu="menu-container">
      <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="nav-link custom-cursor"><i class="feather icon-home"></i><span
              data-i18n="Dashboard">Dashboard</span></a>
        </li>

        <li class="dropdown nav-item" data-menu="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle nav-link custom-cursor" data-toggle="dropdown"><i
              class="feather icon-file-text"></i><span data-i18n="Pages">Menu</span></a>
          <ul class="dropdown-menu">
            <!-- <li
              data-menu=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                class="dropdown-item custom-cursor"
                data-i18n=""
                data-toggle="dropdown"
                routerLink="pacsCreation"
                >PACS Creation</a
              >
            </li> -->
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown"
                routerLink="ceoRegistration">CEO Registration</a>
            </li>
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown"
                routerLink="pacsCreation">Pacs Registration</a>
            </li>
            
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown"
                routerLink="Pacsgeotaggingapproval">PACS Geotagging Approval</a>
            </li>
            <li  data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="Employeeregistration">Employee Details</a>
            </li>
            <li  data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="AppcoopSocieties"> Registration of Cooperative Societies</a>
            </li>
            <!-- <li  data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="RegSocieties"> Registered Societies</a>
            </li> -->
            <li  data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="SocietyRegisterIns"> Registered Societies </a>
            </li>
            <li  data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="SitePreParationDetails"> Site PreParation Details Verification </a>
            </li>
            <!-- <li  data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="CalibrationAPRDetails"> Calibration Details Verification </a>
            </li> -->
          </ul>
        </li>

        <li class="dropdown nav-item" data-menu="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle nav-link custom-cursor" data-toggle="dropdown"><i
              class="feather icon-file-text"></i><span data-i18n="Pages">Reports</span></a>
          <ul class="dropdown-menu">
            <!-- <li
              data-menu=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                class="dropdown-item custom-cursor"
                data-i18n=""
                data-toggle="dropdown"
                routerLink="pacsList"
                >PAC-Village Mapping</a
              >
            </li> -->
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown" routerLink="ceoList">PAC-CEO
                Mapping</a>
            </li>
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" data-i18n="" data-toggle="dropdown"
                routerLink="Pacsgeotagging">PACS GeoTagging Report</a>
            </li>
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" routerLink="Pacsgeotaggingmap"  target="_balnk">PACS/RBKS
                GeoTagging Map</a>
            </li>
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" routerLink="ceoList">CEO LIST
                </a>
            </li>
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" routerLink="CeoDetailsRpt">CEO Details
                </a>
            </li>
            <li data-menu="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="dropdown-item custom-cursor" routerLink="CompletedPacsForSiteRpt">PACS Computerization Abstract Report
                </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="footer footer-static footer-light navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-block d-md-inline-block text-white">Copyright &copy; 2021 All rights reserved.</span><span
        class="float-md-right d-none d-lg-block text-white">Andhra Pradesh Co-Operative Societies
      </span>
    </p>
  </footer>
</body>