<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title mb-0">Finishing Level</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="custom-cursor" routerLink="/dllic">Menu</a>
              </li>
              <li class="breadcrumb-item active">
                <a class="custom-cursor text-info"  (click)="BackClick()"
                  >Back</a
                >
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- Basic form layout section start -->
      <section id="basic-form-layouts">
        <div class="row match-height">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="form">
                    <div class="form-body">
                      <h4 class="form-section">
                        <i class="feather icon-map-pin"></i> Demographic Details
                      </h4>
                      <app-finishing-level></app-finishing-level>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- // Basic form layout section end -->
    </div>
  </div>
</div>
