<div class="row">
    <div class="col-md-4" style="text-align: left;">
      <h3 style="margin:30px">  Details Added Successfully... !</h3>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control p-0" id="UploadImage"
        [(ngModel)]="Pacs_code" autocomplete="off" />
    </div>

    <div class="col-md-3" style=" margin-top: 31px;margin-left: 100px;">
      <button type="button" class="btn btn-info btn-sm" (click)="calibbtnPDF()">
      Download PDF File
    </button> </div>
</div>
