
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6">
          <h3 class="content-header-title mb-0">CALIBRATION STATE LEVEL ABSTRACT REPORT</h3>
           
        </div>
        <div class="content-header-left col-md-6" >
            <h5 class="content-header-title mb-0" style="margin-left: 240px !important; text-align: center !important;"><b>{{HeadingName}}</b></h5>
             
          </div>
      </div>
      <div class="content-body">
        <section id="basic-form-layouts">
          <div class="row match-height">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header"></div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="form">
                      <div class="form-body">
                         
                        <div class="col-md-12" align="right" style="margin-top: -38px !important;">
                          <button
                            type="button"
                            class="btn btn-primary btn-sm"
                            (click)="btnBack()"
                          >
                            BACK
                          </button>
                        </div>
                       <app-calibration-submitted-details                 
                       [(type)]="type" 
                       [(typeid)]="typeid" 
                       [(districtName)]="districtName" 
                       [(districtcode)]="districtcode" 
                       [(dccbName)]="dccbName" 
                       [(dccbCode)]="dccbCode" 
                       [(fromDate)]="fromDate" 
                       [(toDate)]="toDate" 
                        > 
                        </app-calibration-submitted-details> 
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

