<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <section class="mt-5 pt-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-4 col-md-8 col-10 p-0">
            <img src="assets/images/svg/500.svg" class="img-fluid" />
          </div>
          <div class="col-lg-4 col-md-8 col-10 p-0">
            <div class="card-header bg-transparent border-0">
              <!-- <h1 class="error-code text-center mb-2">500</h1> -->
              <h3 class="text-uppercase text-center">Service unavailable due to maintenance activity, Please try after sometime.</h3>
            </div>
            <div class="card-content">
              <div class="row py-2">
                <div class="col-12 col-sm-12 col-md-12 mb-1 text-center">
                  <a class="btn btn-primary custom-cursor" routerLink="/"
                    ><i class="feather icon-home"></i> Home</a
                  >
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent">
              <div class="row">
                <p class="text-muted text-center col-12 py-1">
                  © <span class="year"></span>
                  <a class="custom-cursor" routerLink="/"
                    >Andhra Pradesh Co-Operative Societies
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- END: Content-->
