<div class="row" [hidden]= "reportShow">
    <div class="col-md-3">
      <label for="toDate">
        DISTRICT :
        <span class="text-success">
          <b> {{ districtName }}</b>
        </span>
      </label>
    </div>
    <div class="col-md-3">
        <label for="toDate">
          MANDAL :
          <span class="text-success">
            <b> {{ mandalName }}</b>
          </span>
        </label>
      </div>
    <div class="col-md-12">
      <button
        type="button"
        class="btn btn-sm btn-success pull-right"
        (click)="btnExcelDownload()"
      >
        <i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>
        DOWNLOAD EXCEL
      </button>
      <!-- <button
            type="button"
            class="btn btn-sm btn-danger pull-right"
            (click)="btnPDF()"
          >
            <i
              class="fa fa-file-pdf-o mr-2"
              aria-hidden="true"
            ></i>
            DOWNLOAD PDF
          </button> -->
    </div>
    <div
      class="col-md-12 table-responsive"
      [hidden]="mandalLevelDetails.length < 1"
    >
      <table
        class="table table-bordered"
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
      >
        <thead class="thead-dark">
          <tr>
            <th rowspan="2">S.No.</th>
             
            <th rowspan="2">
              PCAS <br>NAME</th>
            <th rowspan="2">NO. OF <br>GODOWNS<br> SANCTIONED</th>
            <th rowspan="2">NO. OF <br>SITES READY<br> FOR CONSTRUCTION</th>
            <th rowspan="2">NO. OF <br>SITES<br> REQUIRING</th>
            <th rowspan="2">
              NO. OF <br>SITES <br>NOT SUITABLE<br> FOR CONSTRUCTION<br> AND FRESH SITES <br>TO BE
              REALLOTTED
            </th>
            <th colspan="3">SITES WHERE WORK UNDER PROGRESS</th>
          </tr>
          <tr>
            <th>FOUNDATION <br>STAGE</th>
            <th>SUPER STRUCTURE <br>STAGE</th>
            <th>FINISHING <br>STAGE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of mandalLevelDetails; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
            <a
             
            style="cursor: pointer; text-decoration: underline"
            class="text-primary"
            (click)="btnGetDetailsvillage(obj)"
            ><b>{{ obj.PACS_NAME }}</b></a
          ></td>
            <td>{{ obj.GODOWNS_SACTIONED }}</td>
            <td>{{ obj.SITES_READY_FOR_CONS }}</td>
            <td>{{ obj.SITES_REG_NREGA_WORKS }}</td>
            <td>{{ obj.SITE_NOT_SUITABLE_FOR_CONS }}</td>
            <td>{{ obj.FOUNDATION_STAGE }}</td>
            <td>{{ obj.SUPER_STRUCTURE_STAGE }}</td>
            <td>{{ obj.FINISHING_STAGE }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="mandalLevelDetails?.length > 0">
          <tr>
            <td>--</td>
            <td>
              <b>TOTAL</b>
            </td>
            <td>{{ reportTotals.GODOWNS_SACTIONED }}</td>
            <td>{{ reportTotals.SITES_READY_FOR_CONS }}</td>
            <td>{{ reportTotals.SITES_REG_NREGA_WORKS }}</td>
            <td>{{ reportTotals.SITE_NOT_SUITABLE_FOR_CONS }}</td>
            <td>{{ reportTotals.FOUNDATION_STAGE }}</td>
            <td>{{ reportTotals.SUPER_STRUCTURE_STAGE }}</td>
            <td>{{ reportTotals.FINISHING_STAGE }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div
      class="col-md-12 table-responsive"
      [hidden]="mandalLevelDetails?.length > 0"
    >
      <h6 class="text-center">No Data Available</h6>
    </div>
  </div>
  <div [hidden]= "dataShow">
    <br>
    <br>
    <br>
    <div
    class="col-md-12 table-responsive"
    [hidden]="villageLevelDetails.length < 1"
  >
    <table
    class="table table-bordered"
     
    >
      <thead class="thead-dark">
        
        <tr>
          <th>S.No.</th>
          <th>PACS NAME</th>
          <th>VILLAGE NAME</th>
          <th>RBK NAME</th>
          <th>INSPECTION STATUS</th>
          <th>FOUNDATION STATUS</th>
          <th>STRUCTURE STATUS</th>
          <th>FINISHING STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of villageLevelDetails; let i = index">
          <td>{{ i + 1 }}</td>
         
          <td>{{ obj.PACS_NAME }}</td>
          <td>{{ obj.VILLAGE_NAME }}</td>
          <td>{{ obj.RBK_NAME }}</td>
          <td>
            <a
              *ngIf="obj.INSPECTION_CODE !== 0"
              style="cursor: pointer; text-decoration: underline"
              class="text-primary"
              (click)="detaillevelinspection(obj)"
              ><b>{{ obj.INSPECTION }}</b></a
            >
            <span *ngIf="obj.INSPECTION_CODE === 0">{{
              obj.INSPECTION
            }}</span>
          </td>
          <td>
            <a
              *ngIf="obj.FOUNDATION_CODE !== 0"
              style="cursor: pointer; text-decoration: underline"
              class="text-primary"
              (click)="detaillevelfoundation(obj)"
              ><b>{{ obj.FOUNDATION }}</b></a
            >
            <span *ngIf="obj.FOUNDATION_CODE === 0">{{
              obj.FOUNDATION
            }}</span>
          </td>
          <td>
            <a
              *ngIf="obj.STRUCTURE_CODE !== 0"
              style="cursor: pointer; text-decoration: underline"
              class="text-primary"
              (click)="btnGetDetails(obj)"
              ><b>{{ obj.STRUCTURE }}</b></a
            >
            <span *ngIf="obj.STRUCTURE_CODE === 0">{{
              obj.STRUCTURE
            }}</span>
          </td>
          <td>
            <a
              *ngIf="obj.FINISHING_CODE !== 0"
              style="cursor: pointer; text-decoration: underline"
              class="text-primary"
              (click)="btnGetDetails(obj)"
              ><b>{{ obj.FINISHING }}</b></a
            >
            <span *ngIf="obj.FINISHING_CODE === 0">{{
              obj.FINISHING
            }}</span>
          </td>
         
        </tr>
      </tbody>
       
    </table>
  </div>

  <div
    class="col-md-12 table-responsive"
    [hidden]="mandalLevelDetails?.length > 0"
  >
    <h6 class="text-center">No Data Available</h6>
  </div>
  </div>
   
  
  
<div
  class="modal"
  tabindex="-1"
  role="dialog" style="overflow:scroll;"
  [ngStyle]="{'display':displayStyleinspection}">
  <div class="modal-dialog  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Boundaries and Survey Details</h4>
        <button type="button" class="btn btn-danger" 
        (click)="closePopup()">
  Close
</button>
      </div>
      <div class="modal-body">
        <h4 class="form-section">
          <i class="feather icon-map-pin"></i> Boundaries and Survey Details
        </h4>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Allotment Proceedings :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.allotmentProceedings }}
              </h6>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label>Survey No :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.SurveyNo }}
              </h6>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label>Extent :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.extent }}
              </h6>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label>South :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.south }}
              </h6>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label>North :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.north }}
              </h6>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label>East :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.east }}
              </h6>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label>West :</label>
              <h6 class="text-success">
                {{ inspectionDetailsList.west }}
              </h6>
            </div>
          </div>
        </div>
      
        <h4 class="form-section">
          <i class="feather icon-map-pin"></i> Inspection Details
        </h4>
        <div class="row" *ngIf="levelStatus === 0">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inspectionDate"
                >Inspection Date<span class="text-danger">*</span>
              </label>
              <app-date-picker
                [PlaceHolder]="'Select date of Inspection'"
                [(selectedDate)]="siteInspectionReq.inspectionDate"
                [maxDate]="maxDate"
              ></app-date-picker>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="capacityOfGoDown"
                >Capacity Of Godown To Be Constructed (In MT Tonnes)<span
                  class="text-danger"
                  >*</span
                ></label
              >
              <input
                type="text"
                id="capacityOfGoDown"
                class="form-control"
                placeholder="Godown Capacity"
                maxlength="5"
                autocomplete="off"
                [(ngModel)]="siteInspectionReq.capacityOfGoDown"
              />
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="estimatedLandValue"
                >Estimated land value (In Lakhs)<span class="text-danger"
                  >*</span
                ></label
              >
              <input
                type="text"
                id="estimatedLandValue"
                class="form-control"
                placeholder="Estimated land value"
                maxlength="5"
                autocomplete="off"
                [(ngModel)]="siteInspectionReq.estimatedLandValue"
              />
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="siteInspectionPhotoUpload"
                >Site Inspection Photo<span class="text-danger">*</span></label
              >
              <input
                id="siteInspectionPhotoUpload"
                class="form-control p-1"
                type="file"
                (change)="onSiteInspectionChange($event)"
                accept="image/*"
                #siteInspectionPhotoUpload
                autocomplete="off"
              />
            </div>
          </div>
      
          <div class="col-md-12" align="center">
            <div class="form-group">
              <button
                id="btnSubmit"
                type="button"
                class="btn btn-success"
                (click)="btnInspectionSub()"
              >
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      
        <div class="row" *ngIf="levelStatus > 0">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inspectionDate"
                >Inspection Date<span class="text-danger">*</span>
              </label>
              <h5 class="text-success">
                {{ siteInspectionReq.inspectionDate }}
              </h5>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="capacityOfGoDown"
                >Capacity Of Godown To Be Constructed (In MT Tonnes)<span
                  class="text-danger"
                  >*</span
                ></label
              >
              <h5 class="text-success">
                {{ siteInspectionReq.capacityOfGoDown }}
              </h5>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="estimatedLandValue"
                >Estimated land value (In Lakhs)<span class="text-danger"
                  >*</span
                ></label
              >
              <h5 class="text-success">
                {{ siteInspectionReq.estimatedLandValue }}
              </h5>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="siteInspectionPhotoUpload"
                >Site Inspection Photo<span class="text-danger">*</span></label
              >
              <br />
              <button
                id="siteInspectionPhotoUpload"
                type="button"
                class="btn btn-secondary"
                (click)="viewPhoto(siteInspectionReq.siteInspectionPhotoUpload)"
              >
                VIEW PHOTO
              </button>
            </div>
          </div>
        </div>
      
        <h4 class="form-section" *ngIf="levelStatus > 0">
          <i class="feather icon-map-pin"></i> Status of land
        </h4>
        <div class="row" *ngIf="levelStatus === 1">
          <div class="col-md-12" *ngIf="questionsListReq.length > 0">
            <div class="row mb-1">
              <div class="col-md-6">
                <h3 class="text-info">Question</h3>
              </div>
              <div class="col-md-2">
                <h3 class="text-center text-info">Answer</h3>
              </div>
              <div class="col-md-4">
                <h3 class="text-center text-info">File Upload/Reason</h3>
              </div>
            </div>
            <hr />
            <div class="row mb-3" *ngFor="let obj of questionsListReq; let i = index">
              <div class="col-md-6">
                <div class="form-group">
                  <lable class="form-control-label"
                    >{{ i + 1 }}.{{ obj.questionName }}</lable
                  >
                </div>
              </div>
              <div class="col-md-2">
                <select
                  id="questionApproval{{ obj.questionId }}"
                  class="form-control"
                  [(ngModel)]="obj.questionApproval"
                  (change)="onAnswerChange(obj.questionId, obj.questionApproval)"
                >
                  <option value="">-- SELECT ANSWER --</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="col-md-4" *ngIf="obj.questionApproval === '1'">
                <input
                  id="fileUpload{{ obj.questionId }}"
                  class="form-control"
                  type="file"
                  (change)="onFileChange($event, obj.questionId)"
                  accept="image/*"
                  #fileUpload
                  autocomplete="off"
                />
              </div>
              <div class="col-md-4" *ngIf="obj.questionApproval === '0'">
                <input
                  id="remarks{{ obj.questionId }}"
                  type="text"
                  class="form-control"
                  maxlength="50"
                  autocomplete="off"
                  placeholder="Enter Reason"
                  [(ngModel)]="obj.remarks"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pt-4" align="center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="btnQuestionSubmit()"
                >
                  <i class="fa fa-check-square-o"></i> Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row" *ngIf="levelStatus > 1">
          <div class="col-md-12" *ngIf="questionsListReq.length > 0">
            <div class="row mb-1">
              <div class="col-md-6">
                <h4 class="text-info">Question</h4>
              </div>
              <div class="col-md-2">
                <h4 class="text-center text-info">Answer</h4>
              </div>
              <div class="col-md-4">
                <h4 class="text-center text-info">File Upload/Reason</h4>
              </div>
            </div>
            <div class="row mb-3" *ngFor="let obj of questionsListReq; let i = index">
              <div class="col-md-6">
                <div class="form-group">
                  <lable class="form-control-label"
                    >{{ i + 1 }}.{{ obj.questionName }}</lable
                  >
                </div>
              </div>
              <div class="col-md-2" align="center">
                <h6 class="text-success" *ngIf="obj.questionApproval === 'Yes'">
                  Yes
                </h6>
                <h6 class="text-danger" *ngIf="obj.questionApproval === 'No'">No</h6>
              </div>
              <div
                class="col-md-4"
                *ngIf="obj.questionApproval === 'Yes'"
                align="center"
              >
                <button
                  id="questionPhoto{{ obj.questionId }}"
                  type="button"
                  class="btn btn-secondary"
                  (click)="viewPhoto(obj.photoUpload)"
                >
                  VIEW PHOTO
                </button>
              </div>
              <div
                class="col-md-4"
                *ngIf="obj.questionApproval === 'No'"
                align="center"
              >
                <h6 class="text-info">{{ obj.remarks }}</h6>
              </div>
            </div>
          </div>
        </div>
      
        <h4 class="form-section" *ngIf="levelStatus > 1">
          <i class="feather icon-map-pin"></i> Suitability of land construction
        </h4>
        <div class="row" *ngIf="levelStatus === 2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="dllicApproval"
                >Recommendation of mandal level inspection committe
                <span class="text-danger">*</span></label
              >
              <select
                id="dllicApproval"
                class="form-control"
                [(ngModel)]="siteInspectionReq.dllicApproval"
              >
                <option value="">-- SELECT RECOMMENDATION --</option>
                <option value="1">Suitable For Construction</option>
                <option value="0">Not suitable For Construction</option>
              </select>
            </div>
          </div>
      
          <div class="col-md-4" *ngIf="siteInspectionReq.dllicApproval === '0'">
            <div class="form-group">
              <label for="dllicRemarks"
                >Remarks<span class="text-danger">*</span></label
              >
              <textarea
                type="text"
                id="dllicRemarks"
                class="form-control"
                placeholder="Enter remarks"
                maxlength="100"
                autocomplete="off"
                [(ngModel)]="siteInspectionReq.dllicRemarks"
              ></textarea>
            </div>
          </div>
      
          <div class="col-md-4" *ngIf="siteInspectionReq.dllicApproval === '1'">
            <div class="form-group">
              <label for="siteReadyForConstruction"
                >Site ready for contruction <span class="text-danger">*</span></label
              >
              <select
                id="siteReadyForConstruction"
                class="form-control"
                [(ngModel)]="siteInspectionReq.siteReadyForConstruction"
              >
                <option value="">-- SELECT RECOMMENDATION --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>
      
          <div
            class="col-md-4"
            *ngIf="siteInspectionReq.siteReadyForConstruction === '1'"
          >
            <div class="form-group">
              <label for="nregaTakenWork"
                >Works to be taken up  for making the site ready for
                contruction <span class="text-danger">*</span></label
              >
              <select
                id="nregaTakenWork"
                class="form-control"
                [(ngModel)]="siteInspectionReq.nregaTakenWork"
              >
                <option value="">-- SELECT RECOMMENDATION --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>
      
          <div class="col-md-4" *ngIf="siteInspectionReq.nregaTakenWork === '1'">
            <div class="form-group">
              <label for="nregaWorks"
                >Works to be taken up 
                <span class="text-danger">*</span></label
              >
              <select
                id="nregaWorks"
                class="form-control"
                [(ngModel)]="siteInspectionReq.nregaWorks"
              >
                <option value="">-- SELECT RECOMMENDATION --</option>
                <option value="1">Land levelling and shaping</option>
                <option value="2">Bush clearance</option>
                <option value="3">Approach road</option>
                <option value="0">Others</option>
              </select>
            </div>
          </div>
      
          <div class="col-md-4" *ngIf="siteInspectionReq.nregaWorks === '0'">
            <div class="form-group">
              <label for="nregaOthersRemarks"
                >Remarks<span class="text-danger">*</span></label
              >
              <textarea
                type="text"
                id="nregaOthersRemarks"
                class="form-control"
                placeholder="Enter remarks"
                maxlength="100"
                autocomplete="off"
                [(ngModel)]="siteInspectionReq.nregaOthersRemarks"
              ></textarea>
            </div>
          </div>
      
          <div class="col-md-12" align="center">
            <div class="form-group">
              <button
                id="btnSubmit"
                type="button"
                class="btn btn-success"
                (click)="btnInspectionReportSub()"
              >
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      
        <div class="row" *ngIf="levelStatus > 2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="dllicApproval"
                >Recommendation of division level inspection committe
                <span class="text-danger">*</span></label
              >
              <h5
                *ngIf="
                  siteInspectionReq.dllicApproval ===
                  'DLLIC Recommended for Construction'
                "
                class="text-success"
              >
                {{ siteInspectionReq.dllicApproval }}
              </h5>
              <h5
                *ngIf="
                  siteInspectionReq.dllicApproval !==
                  'DLLIC Recommended for Construction'
                "
                class="text-danger"
              >
                {{ siteInspectionReq.dllicApproval }}
              </h5>
            </div>
          </div>
      
          <div
            class="col-md-4"
            *ngIf="
              siteInspectionReq.dllicApproval !== 'DLLIC Recommended for Construction'
            "
          >
            <div class="form-group">
              <label for="dllicRemarks"
                >Remarks<span class="text-danger">*</span></label
              >
              <p class="text-success">
                {{ siteInspectionReq.dllicRemarks }}
              </p>
            </div>
          </div>
      
          <div
            class="col-md-4"
            *ngIf="
              siteInspectionReq.dllicApproval === 'DLLIC Recommended for Construction'
            "
          >
            <div class="form-group">
              <label for="siteReadyForConstruction"
                >Site ready for contruction <span class="text-danger">*</span></label
              >
              <h5
                *ngIf="siteInspectionReq.siteReadyForConstruction === 'Yes'"
                class="text-success"
              >
                Yes
              </h5>
              <h5
                *ngIf="siteInspectionReq.siteReadyForConstruction !== 'Yes'"
                class="text-danger"
              >
                No
              </h5>
            </div>
          </div>
      
          <div
            class="col-md-4"
            *ngIf="siteInspectionReq.siteReadyForConstruction === 'Yes'"
          >
            <div class="form-group">
              <label for="nregaTakenWork"
                >Works to be taken up for making the site ready for
                contruction <span class="text-danger">*</span></label
              >
              <h5
                *ngIf="siteInspectionReq.nregaTakenWork === 'Yes'"
                class="text-success"
              >
                Yes
              </h5>
              <h5
                *ngIf="siteInspectionReq.nregaTakenWork !== 'Yes'"
                class="text-danger"
              >
                No
              </h5>
            </div>
          </div>
      
          <div class="col-md-4" *ngIf="siteInspectionReq.nregaTakenWork === 'Yes'">
            <div class="form-group">
              <label for="nregaWorks"
                >Works to be taken up
                <span class="text-danger">*</span></label
              >
              <h5 class="text-success">
                {{ siteInspectionReq.nregaWorks }}
              </h5>
            </div>
          </div>
      
          <div class="col-md-4" *ngIf="siteInspectionReq.nregaWorks === 'Others'">
            <div class="form-group">
              <label for="nregaOthersRemarks"
                >Remarks<span class="text-danger">*</span></label
              >
              <p class="text-success">
                {{ siteInspectionReq.nregaOthersRemarks }}
              </p>
            </div>
          </div>
        </div>
      
        <h4
          class="form-section"
          *ngIf="
            levelStatus > 2 &&
            siteInspectionReq.dllicApproval ===
              'DLLIC Recommended for Construction' &&
            siteInspectionReq.siteReadyForConstruction === 'Yes'
          "
        >
          <i class="feather icon-map-pin"></i> Documents upload
        </h4>
        <div
          class="row"
          *ngIf="
            levelStatus === 3 &&
            siteInspectionReq.dllicApproval ===
              'DLLIC Recommended for Construction' &&
            siteInspectionReq.siteReadyForConstruction === 'Yes'
          "
        >
          <div class="col-md-4">
            <div class="form-group">
              <label for="leaseAgreementRegistered"
                >Lease Agreement Registered<span class="text-danger">*</span></label
              >
              <select
                id="leaseAgreementRegistered"
                class="form-control"
                [(ngModel)]="siteInspectionReq.leaseAgreementRegistered"
              >
                <option value="">-- SELECT RECOMMENDATION --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>
      
          <div
            class="col-md-4"
            *ngIf="siteInspectionReq.leaseAgreementRegistered === '1'"
          >
            <div class="form-group">
              <label for="leaseAgreementPhoto"
                >Lease Agreement<span class="text-danger">*</span></label
              >
              <input
                id="leaseAgreementPhoto"
                class="form-control p-1"
                type="file"
                (change)="onLeaseAgreementChange($event)"
                accept="application/pdf"
                #leaseAgreementPhoto
                autocomplete="off"
              />
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="siteInspectionReportPhotoUpload"
                >Site inspection report<span class="text-danger">*</span></label
              >
              <input
                id="siteInspectionReportPhotoUpload"
                class="form-control p-1"
                type="file"
                (change)="onSiteInspectionReportChange($event)"
                accept="application/pdf"
                #siteInspectionReportPhotoUpload
                autocomplete="off"
              />
            </div>
          </div>
      
          <div class="col-md-12" align="center">
            <div class="form-group">
              <button
                id="btnSubmit"
                type="button"
                class="btn btn-success"
                (click)="btnLeaseDocumentsSub()"
              >
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      
        <div
          class="row"
          *ngIf="
            levelStatus > 3 &&
            siteInspectionReq.dllicApproval ===
              'DLLIC Recommended for Construction' &&
            siteInspectionReq.siteReadyForConstruction === 'Yes'
          "
        >
          <div class="col-md-4">
            <div class="form-group">
              <label for="leaseAgreementRegistered"
                >Lease Agreement Registered<span class="text-danger">*</span></label
              >
      
              <h5
                *ngIf="siteInspectionReq.leaseAgreementRegistered === 'Yes'"
                class="text-success"
              >
                YES
              </h5>
              <h5
                *ngIf="siteInspectionReq.leaseAgreementRegistered === 'No'"
                class="text-danger"
              >
                NO
              </h5>
            </div>
          </div>
      
          <div
            class="col-md-4"
            *ngIf="siteInspectionReq.leaseAgreementRegistered === 'Yes'"
          >
            <div class="form-group">
              <label for="leaseAgreementPhoto"
                >Lease Agreement<span class="text-danger">*</span></label
              >
              <br />
              <button
                id="leaseAgreementPhoto"
                type="button"
                class="btn btn-secondary"
                (click)="viewPhoto(siteInspectionReq.leaseAgreementPhoto)"
              >
                VIEW PHOTO
              </button>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="form-group">
              <label for="siteInspectionReportPhotoUpload"
                >Site inspection report<span class="text-danger">*</span></label
              >
              <br />
              <button
                id="siteInspectionReportPhotoUpload"
                type="button"
                class="btn btn-secondary"
                (click)="viewPDF(siteInspectionReq.siteInspectionReportUpload)"
              >
                VIEW REPORT
              </button>
            </div>
          </div>
        </div>
  
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>
<div
class="modal"
tabindex="-1"
role="dialog" style="overflow:scroll;"
[ngStyle]="{'display':displayStylefoundation}">
<div class="modal-dialog  modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Boundaries and Survey Details</h4>
      <button type="button" class="btn btn-danger" 
      (click)="closePopup()">
Close
</button>
    </div>
    <div class="modal-body">
      <h4 class="form-section" *ngIf="status === 0 && dataAvailable">
        <i class="feather icon-map-pin"></i> Questions List
      </h4>
      
      <div class="row" *ngIf="status === 0 && dataAvailable">
        <div class="col-md-4">
          <div class="form-group">
            <label for="inspectionDate"
              >Inspection Date<span class="text-danger">*</span>
            </label>
            <app-date-picker
              [PlaceHolder]="'Select date of Inspection'"
              [(selectedDate)]="constructionReq.inspectionDate"
              [maxDate]="maxDate"
            ></app-date-picker>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="form-group">
            <label for="godownCapacity"
              >Capacity Of Godown To Be Constructed<span class="text-danger"
                >*</span
              ></label
            >
            <h5 class="text-success">
              {{ constructionReq.godownCapacity }}
            </h5>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="form-group">
            <label for="builder">Builder<span class="text-danger">*</span></label>
            <input
              type="text"
              id="builder"
              class="form-control"
              placeholder="Builder"
              maxlength="50"
              autocomplete="off"
              [(ngModel)]="constructionReq.builder"
            />
          </div>
        </div>
      
        <div class="col-md-12" *ngIf="questionsListReq.length > 0">
          <div class="row mb-1">
            <div class="col-md-6">
              <h3 class="text-info">Question</h3>
            </div>
            <div class="col-md-2">
              <h3 class="text-center text-info">Answer</h3>
            </div>
            <div class="col-md-4">
              <h3 class="text-center text-info">File Upload/Reason</h3>
            </div>
          </div>
          <hr />
          <div class="row mb-3" *ngFor="let obj of questionsListReq; let i = index">
            <div class="col-md-6">
              <div class="form-group">
                <lable class="form-control-label"
                  >{{ i + 1 }}.{{ obj.questionName }}</lable
                >
              </div>
            </div>
            <div class="col-md-2">
              <select
                id="questionApproval{{ obj.questionId }}"
                class="form-control"
                [(ngModel)]="obj.questionApproval"
                (change)="onAnswerChange(obj.questionId, obj.questionApproval)"
              >
                <option value="">-- SELECT ANSWER --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <div class="col-md-4" *ngIf="obj.questionApproval === '1'">
              <input
                id="fileUpload{{ obj.questionId }}"
                class="form-control p-1"
                type="file"
                (change)="onFileChange($event, obj.questionId)"
                accept="image/*"
                #fileUpload
                autocomplete="off"
              />
            </div>
            <div class="col-md-4" *ngIf="obj.questionApproval === '0'">
              <input
                id="remarks{{ obj.questionId }}"
                type="text"
                class="form-control"
                maxlength="50"
                autocomplete="off"
                placeholder="Enter Reason"
                [(ngModel)]="obj.remarks"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pt-4" align="center">
              <button type="submit" class="btn btn-primary" (click)="btnSubmit()">
                <i class="fa fa-check-square-o"></i> Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <h4 class="form-section" *ngIf="status === 1 && dataAvailable">
        <i class="feather icon-map-pin"></i> Questions List
      </h4>
      
      <div class="row" *ngIf="status === 1 && dataAvailable">
        <div class="col-md-4">
          <div class="form-group">
            <label for="inspectionDate"
              >Inspection Date<span class="text-danger">*</span>
            </label>
            <h5 class="text-success">
              {{ constructionReq.inspectionDate }}
            </h5>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="form-group">
            <label for="godownCapacity"
              >Capacity Of Godown To Be Constructed<span class="text-danger"
                >*</span
              ></label
            >
            <h5 class="text-success">
              {{ constructionReq.godownCapacity }}
            </h5>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="form-group">
            <label for="builder">Builder<span class="text-danger">*</span></label>
            <h5 class="text-success">
              {{ constructionReq.builder }}
            </h5>
          </div>
        </div>
      
        <div class="col-md-12">
          <div class="row mb-1">
            <div class="col-md-6">
              <h4 class="text-info">Question</h4>
            </div>
            <div class="col-md-2">
              <h4 class="text-center text-info">Answer</h4>
            </div>
            <div class="col-md-4">
              <h4 class="text-center text-info">File Upload/Reason</h4>
            </div>
          </div>
          <div class="row mb-3" *ngFor="let obj of questionsListReq; let i = index">
            <div class="col-md-6">
              <div class="form-group">
                <lable class="form-control-label"
                  >{{ i + 1 }}.{{ obj.questionName }}</lable
                >
              </div>
            </div>
            <div class="col-md-2" align="center">
              <h6 class="text-success" *ngIf="obj.questionApproval === '1'">Yes</h6>
              <h6 class="text-danger" *ngIf="obj.questionApproval === '0'">No</h6>
            </div>
            <div class="col-md-4" *ngIf="obj.questionApproval === '1'" align="center">
              <button
                id="questionPhoto{{ obj.questionId }}"
                type="button"
                class="btn btn-secondary"
                (click)="viewPhoto(obj.photoUpload)"
              >
                VIEW PHOTO
              </button>
            </div>
            <div class="col-md-4" *ngIf="obj.questionApproval === '0'" align="center">
              <h6 class="text-info">{{ obj.remarks }}</h6>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" *ngIf="status === 2">
        <div class="col-md-12" align="center">
          <h3 class="text-success">{{ statusMessage }}</h3>
        </div>
      </div>

    </div>
    <div class="modal-footer">
     
    </div>
  </div>
</div>
</div>